* {
    margin: 0;
    padding: 0;
}
:root{
    --premiere-color: #131214;
    --text-color: #F8F6FB;
    --hoverBack-color: #646267;
    --hoverCo-color: #DDD6E7;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--premiere-color);
    color: var(--text-color);
}
.btn{
    background: var(--text-color);
    color: var(--premiere-color);
}
.btn:hover{
    background: var(--hoverBack-color);
    color: var(--hoverCo-color);
}
h1{
    text-align: center;
}
.text-center{
    text-align: center;
}
.column-center-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
#cont-box-photos{
    display: none;
    width: 100vw;
    height: 100vh;
}
#box-photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#box-photos p{
    margin-bottom: 8px;
}
hr{
    width: 10px;
}
/* ----------------------------------------------progress bar---------------------------------------------------- */
.indication{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.progress{
    width: 50%;
}
.progress-bar{
    background: rgb(139, 29, 84);
}
.score{
    margin-bottom: 0;
}
/* -----------------------------------------------------photo steampunk----------------------------------------- */
#steampunk{
    width: 100%;
    height: auto;
}
#photo-modifiee{
    position: relative;
}
#steampunk-modif{
    width: 100%;
    height: auto;
}
#bout-arme, #bouton-ceinture, #fils-electriques,#coeur, #gachette, #lacet, #medaille, #verres-lunettes{
    position: absolute;
    z-index: 90;
    opacity: 0;
}
#rajout-lacet, #rajout-bouton{
    position: absolute;
    z-index: 90;
}
#bout-arme{
    right: 15.7%;
    top: 24.5%;
}
#bouton-ceinture{
    left: 50.2%;
    bottom: 19%;
}
#coeur{
    right: 45%;
    bottom: 39.7%;
}
#fils-electriques{
    left: 28.3%;
    top: 51.3%;
}
#gachette{
    left: 37.2%;
    top: 36.8%;
}
#lacet{
    right: 20.2%;
    bottom: 28.7%;
}
#medaille{
    left: 47.3%;
    top: 47.7%;
}
#rajout-lacet{
    left: 16.3%;
    bottom: 43.2%;
}
#rajout-bouton{
    left: 33.3%;
    bottom: 29.6%;
}
#verres-lunettes{
    left: 43.1%;
    top: 21.4%;
}
/* ---------------------------------------------------Fin photo steampunk----------------------------------------- */
/* ---------------------------------------------------photo ruelle asiatique-------------------------------------- */
#china-town{
    width: 100%;
    height: auto;
}
#china-town-modif{
    width: 100%;
    height: auto;
}
#cones, #dame, #forza,#photomaton, #pomme, #t, #tel, #cable-gauche{
    position: absolute;
    z-index: 90;
    opacity: 0;
}
#ecureuil, #pigeon{
    position: absolute;
    z-index: 90;
}
#cones{
    right: 22.5%;
    bottom: 3.2%;
}
#dame{
    left: 48.1%;
    bottom: 15.2%;
}
#ecureuil{
    right:7.5%;
    bottom: 2.4%;
}
#pigeon{
    right: 38.3%;
    top: 10.3%;
}
#forza{
    left: 37.2%;
    top: 10%;
}
#photomaton{
    left: 18.2%;
    bottom: 18.9%;
}
#pomme{
    left: 17%;
    top: 20.2%;
}
#t{
    right: 9.3%;
    bottom: 35.3%;
}
#tel{
    left: 14.6%;
    bottom: 47.6%;
}
#cable-gauche{
    left: 7.4%;
    bottom: 4.4%;
}
/* -----------------------------------------------fin photo ruelle asiatique-------------------------------------- */
/* ------------------------------------------------modal------------------- */
#modal-body-steampunk img{
    width: 90%;
    height: auto;
}
#modal-body-steampunk p{
    margin: 15px 0;
}
.modal-content{
    background: var(--premiere-color);
    color: var(--text-color);
}
/* -----------------------------------media query----------------- */
@media(min-width: 768px){
    #box-photos{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    #menu-accueil{
        margin-top: 0;
    }
}